@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CircularStd-Book.woff2') format('woff2'),
       url('../fonts/CircularStd-Book.woff') format('woff'),
       url('../fonts/CircularStd-Book.ttf')  format('truetype');
}

@font-face {
  font-family: 'Sophia';
  src: url('../fonts/sophia.ttf')  format('truetype'),
       url('../fonts//sophia.otf') format('opentype');
}
